@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, white);

  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */

.card-container{
  position: relative;
  max-width: 650px;
  display: flex;
}

.image-container{
  max-width: 150px;
  flex: 0 0 150px;
}

.image-container > img{
  max-width: 100%;
}

.text-container{
  margin-left: 20px;
}

.text-container > article > h2{
  color: #184269;
}

.chevron{
  display: inline-flex;
  align-self: center;
  border: none;
}

.button{
  background-color: #184269;
  color: #f4f4f4;
  border: none;
  border-radius: 5%;
  text-align: center;

}

